<div class="row">
  <div class="jumbotron">
    <h1 class="display-3">Bonjour.</h1>
    <hr class="m-y-2">
    <p class="lead">I love to make things — especially great things. SumOfUs, I think you should hire me.</p>
  </div>
</div>

<div class="row">
  <ul class="list-group">
    <li class="list-group-item">
      <h2 class="list-group-item-heading">Why are you applying for this job? (Word limit: 125)</h2>
      <hr class="m-y-2">
      <p class="list-group-item-text answer-text">
        <!-- <a id='footnote2top' href="#footnote2">[2]</a> -->
        <b>Your team values resonate with me.</b> While I was reading about the way you think and work<a id='footnote1top' href="#footnote1">[1]</a>, I found myself nodding in agreement at every line. I know you guys haven’t figured out everything yet: neither have I. Let's do it together.<br><br>

       I find great satisfaction in creating something that helps even one single person. I can only imagine how rewarding it must be to <b>help millions of people.</b> <br><br>

        I've done my research on who you are and "googled" a lot of you. Especially Neal, Tuuli and Omar. Working with intelligent, dedicated colleagues sounds like a pretty great way to earn a living. I want to <b>work with people who care</b>. People who ask “why?”, and then shortly after, “How can we make this better?”. People with whom I share vision and values.
      </p>
      <p>
        <span class="label label-default label-pill pull-xs-right counter"></span>
      </p>
    </li>
    <li class="list-group-item">
      <h2 class="list-group-item-heading">What's one idea, big or small, that you have for how technology can be used to advance social progress? (Suggested word limit: 200)</h2>
      <hr class="m-y-2">
      <p class="list-group-item-text answer-text">
        Advancing social progress is a vague phrase which can have a lot of meanings. The way I see it is that social progress is the advancement of people, <b>individually and collectively</b>, towards a better them, <b>towards a better world</b>. <br><br>

        Not to sound idealistic, but the truth is that with technology, we can achieve a lot. Technology now enables us to reach <b>millions of people with a single click</b>. I believe that we can create <b>meaningful content that uses this power</b> to reach a great number of people across the planet. <br><br>

        But technology is a means ; what really matters is content. Which is why I'd be glad to put my own technical skills to use to build technological tools that <b>carry projects that matter</b> and that promote social progress, like yours. <br><br>

        For me, the best technology is extremely efficient yet almost invisible, making room for the content they carry, and helping to <b>spread a chain of positive ideas</b> almost unconsciously.
      </p>
      <p>
        <span class="label label-default label-pill pull-xs-right counter"></span>
      </p>
    </li>
    <li class="list-group-item">
      <h2 class="list-group-item-heading">List which of the characteristics under “Big Pluses” you believe you match, with a few words of explanation if that’s useful (but keep it short!)</h2>
      <hr class="m-y-2">
      <p class="list-group-item-text answer-text">
        <%= fa_icon "check-square-o" %> <i>Familiarity with the technologies SumOfUs use: Ruby on Rails, Javascript and AWS.</i><br>
        <%= fa_icon "check-square-o" %>
        <i>Knack for building responsive user interfaces that are beautiful and intuitive to use.</i> <br>
        My school was a design school, where I learnt how to build simple and intuitive interfaces for people. I previously worked on building a marketing automation tool, and this taught me a lot about a/b testing and how to build for maximum return. <br>
        <%= fa_icon "check-square-o" %> <i>Experience building mobile apps and websites.</i><br>
        <%= fa_icon "check-square-o" %> <i>Experience with non-profits.</i> <br>
        I helped build a humanitarian project from scratch in Bangladesh when I was 19 and also had an internship at Giving Corner, a company which helps motivate other companies' employees to be more sustainable by rewarding them with donations to non-profits. <br>
        <%= fa_icon "square-o" %> <i>Prior experience working on a remote team.</i> <br>
        I've never worked as a remote developer yet. But my previous team was split between Paris and Marseille, so I've experienced some form of remote team work. I'm also an avid reader and wanted to start working remotely since I read <i>Remote</i> by 37signals.<br>
        <%= fa_icon "check-square-o" %> <i>Fluency in at least one non-English language.</i> <br>
        I was born and raised in France.
      </p>
      <p>
        <span class="label label-default label-pill pull-xs-right counter"></span>
      </p>
    </li>
    <li class="list-group-item">
      <h2 class="list-group-item-heading">A brief description of where you heard about this job posting</h2>
      <hr class="m-y-2">
      <p class="list-group-item-text answer-text">
        One of my friends linked your job offer and told me: <i>"This job was made for you!"</i>. I think she was right.
      </p>
      <p>
        <span class="label label-default label-pill pull-xs-right counter"></span>
      </p>
    </li>
  </ul>
</div>

<div class="row margin-top-2rem">
  <div class="jumbotron">
    <h1 class="display-3"><%= greet %></h1>
    <p class="lead">
      Thanks for taking the time to read through this.
      I would be excited and honored to be a part of SumOfUs.</p>
    <hr class="m-y-2">
    <p>- Philippe Tring</p>
  </div>
  <div class="col-md-12">
    <p>
      <a id="footnote1" href="#footnote1top">[1]</a> - <%= link_to 'We are experimental and risk-takers: My "Don\'t be fearless" article', 'http://philippetring.fr/blog/2016/03/13/dont-be-fearless/', target: '_blank' %> <br>
      <!-- <a id="footnote2" href="#footnote2top">[2]</a> - <%= link_to 'We are open, authentic and transparent: My "Honesty value" article', 'http://philippetring.fr/blog/2016/01/10/honesty/', target: '_blank' %> -->
    </p>
  </div>
</div>
